header h2 {
    text-align: center;
    margin: 0;
}

content {
    display: grid;
    grid-template-rows: 1fr auto;
}

.game-versus {
    text-align: center;
    padding: 1em;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
}
.game-versus p {
    margin-right: 1em;
    font-size: 2em;
    text-align: center;
}
.game-versus .mine {
    /* color: #00600f; */
    font-weight: bold;
}

.game-option-list {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-option {
    flex: 1;
    min-width: 20em;
    max-width: 20em;
    margin: .3em;
    height: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    border: 1px #212121 solid;
    background-color: #21212130;
}

.game-option.option {
    align-self: self-end;

    border: 1px #00600f solid;
    background-color: #00600f30;

    cursor: pointer;
    transition: 300ms all;
}
.game-option.option:hover {
    background-color: #00600f80;
}
.game-option.not-selected {
    opacity: .5;
}
.game-option.selected {
    align-self: self-end;
    background-color: #00600f90;
}

.game-option p {
    margin: 0;
    text-align: center;
    font-size: 1em;
    transition: 300ms all;
}
.game-option.select:hover p {
    /* font-size: 2em; */
}

.modal.win {
    
}

.modal.win .modal-content {
    border: 2px #6abf69 solid;
    flex-direction: column;
}

.modal.lose {
    
}

.modal.lose .modal-content {
    border: 2px #db0e0e solid;
    flex-direction: column;
}

.win-points {
    font-size: 1.3em;
    color: #6abf69;
}

.player-list {
    margin-top: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}

.player-item {

}

.player-item .name {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.player-item.winning .name {
    border-bottom: 1px solid #6abf69;
}


.player-item .points {
    font-size: 1.2em;
}

.player-item.winning .points {
    color: #488547;
    font-weight: bold;
}