html {
    margin: 0;
}

p {
    margin: 0;
}

body {
    height: 100vh;

    font-family: 'Open Sans', sans-serif;
    background-color: #E1E2E1;
    margin: 0;

    display: grid;
    grid-template-rows: 150px 1fr 3em;
}

header {
    background-color: #388e3c;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header h1 {
    text-align: center;
}

header div {
    display: flex;
    padding: 0 3em 0 3em;
}

header div input {
    flex: 1;
    text-align: center;
    border: none;
}

header div a {
    height: 2em;
    padding: 0 .5em 0 .5em;
    background-color: #FFCC00;
    color: #212121;
}

content {
    padding: 1em;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-around;
}

.game-versus {
    grid-column: 1 / 4;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.game-versus p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.game-option {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    border: 1px #212121 solid;
    background-color: #21212130;
}

.game-option.option {
    align-self: self-end;

    border: 1px #00600f solid;
    background-color: #00600f30;

    cursor: pointer;
    transition: 300ms all;
}
.game-option.option:hover {
    background-color: #00600f80;
}
.game-option.not-selected {
    opacity: .5;
}
.game-option.selected {
    align-self: self-end;
    background-color: #00600f90;
}

.game-option p {
    margin: 0;
    text-align: center;
    font-size: 1em;
    transition: 300ms all;
}
.game-option.select:hover p {
    /* font-size: 2em; */
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21212180;
}

.modal-content {
    background-color: #FAFAFA;
    margin-top: 0;
    padding: 3em;

    display: flex;
    
    animation-name: slide-anim;
    animation-duration: 800ms;
}
@keyframes slide-anim {
    from {
        margin-top: -100vh;
    }
    to {
        margin-top: 0;
    }
}

.modal.win {
    display: none;
}

.modal-content.win {
    border: 2px #6abf69 solid;
}

.modal.lose {
    display: none;
}

.modal-content.lose {
    border: 2px #db0e0e solid;
}

.modal.draw {
    display: none;
}

.modal-content.draw {
    border: 2px #FFCC00 solid;
}


footer {
    background-color: #6abf69;
    margin: 0;
}

h1 {
    margin: 0;
}

