html {
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

body {
    height: 100vh;

    font-family: 'Open Sans', sans-serif;
    background-color: #E1E2E1;
    margin: 0;

    display: grid;
    grid-template-rows: 150px 1fr 3em;
}

header {
    background-color: #388e3c;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header h1 {
    text-align: center;
}

header div {
    display: flex;
    padding: 0 3em 0 3em;
}

header div input {
    flex: 1;
    text-align: center;
    border: none;
}

header div a {
    height: 2em;
    padding: 0 .5em 0 .5em;
    background-color: #FFCC00;
    color: #212121;
}

footer {
    background-color: #6abf69;
    margin: 0;
}

.modal {    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21212180;
}

.modal-content {
    background-color: #FAFAFA;
    margin-top: 0;
    padding: 3em;

    display: flex;
    
    animation-name: slide-anim;
    animation-duration: 800ms;
}
@keyframes slide-anim {
    from {
        margin-top: -100vh;
    }
    to {
        margin-top: 0;
    }
}

.hide {
    display: none;
}

.btn-success {
    border: 1px #00600f solid;
    background-color: #00600f30;
    height: 3em;

    cursor: pointer;
    transition: 300ms all;
}

.btn-success:hover {
    background-color: #00600f80;
}